<header>
  <p>This Ember app tests out things that ember-template-lint can already do, and tries out new ways to lint for common accessibility failures.</p>
</header>
<main>
  {{outlet}}  
</main>
<footer>
  Repository: <a href="https://github.com/MelSumner/common-failures">Common Failures</a>
</footer>