<header>
  <p>Common Failures Test App</p>
</header>
<nav>
  <ul class="crumbs">
    <li><LinkTo @route="index">Home</LinkTo></li>
  </ul>
</nav>
<main>
  {{outlet}}  
</main>
<footer>
  GitHub Repository: <a href="https://github.com/MelSumner/common-failures">Common Failures</a>
</footer>